# Copyright 2023 The MITRE Corporation. ALL RIGHTS RESERVED
# Approved for public release. Distribution unlimited 23-02181-13.

firmware/**/*.d
firmware/**/*.o
firmware/**/*.axf
firmware/**/*.bin

bootloader/**/*.d
bootloader/**/*.o
bootloader/**/*.axf
bootloader/**/*.bin

tools/gdb.sh
bootloader/src/bootloader_secrets.h
tools/secret_build_output.txt

**/__pycache__/